// Header
header{
    position: relative;
    z-index: 9;
    .logo{
        
    }
    ul{
        li{
            a{
                color: var(--secondColor);
                font-weight: bold;
                &:hover{
                    color: var(--mainColor);
                }
            }
        }
    }
}
  


